header{
    background:#2c3e50;
    color:#fff;
}

.main{
    background:#b7d84b;
    color:#fff;
}
aside{
    background:#c0392b;
    color:#fff;
}
footer{
    background:#16a085;
    color:#fff;
}﻿

.color-1 {
	background-color: #18bc9c;
}

.color-2 {
	background-color: #f7b617;
}

.color-3 {
	background-color: #a0cdf8;
}

.color-4 {
	background-color: #f36283;
}